align-center-middle()
    position absolute
    top 50%
    left 0
    right 0
    transform translateY(-50%)

align-center()
    position absolute
    left 0
    right 0

align-middle()
    position absolute
    top 50%
    transform translateY(-50%)

ellipsis()
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    max-width 100%