align()
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

align-center()
    position absolute
    left 50%
    transform translateX(-50%)

align-middle()
    position absolute
    top 50%
    transform translateY(-50%)

extend()
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto

extend-center()
    position absolute
    left 0
    right 0
    margin auto

extend-middle()
    position absolute
    top 0
    bottom 0
    margin auto

ellipsis()
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    max-width 100%

clear()
    &:after
        content ''
        display block
        clear both

before()
    content ''
    position absolute
    z-index 1