align-center-middle()
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto

align-center()
    position absolute
    left 0
    right 0
    margin auto

align-middle()
    position absolute
    top 0
    bottom 0
    margin auto

ellipsis()
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    max-width 100%