body
    display grid
    grid-template-rows auto 1fr auto
    grid-template-areas "header" "main" "footer"

header
    background blue
    grid-area header

main
    background red
    grid-area main

footer
    background black
    grid-area footer