@font-face
    font-family "<%= fontName %>"
    src: url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
         url('<%= fontPath %><%= fontName %>.woff') format('woff'),
         url('<%= fontPath %><%= fontName %>.ttf') format('truetype')

[class*="i-"]
    position relative
    display inline-block
    width 1em
    height 1em
    &:before
        font 14px '<%= fontName %>'
        font-size inherit
        text-rendering optimizeLegibility
        speak none
        font-variant normal
        text-transform none
        color inherit
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

<% _.each(glyphs, function(glyph) { %>
.<%= cssClass %>-<%= glyph.fileName %>:before
  content "\<%= glyph.codePoint %>"
<% }); %>