doctype html
html
	title Gulp-tpl example page
	link(href="/css/styles.css",rel="stylesheet")
	script(src="/js/scripts.js")
	body
		include sub/header
		main(role='main')
			h1 Gulp-tpl
			p.
				This template will help you to build your own Gulp working process.
		include sub/footer
		script(src='js/script.js', defer='')