main(role='main')
   article(role='article')
      h1
         | Your Site
      div
         | Your image
         img(src='img/test-img.jpg' width='1024px')
      span
         | Your icons
         i.i-fb
         i.i-tw
         i.i-vk