doctype html
html
   head
      //meta(http-equiv="refresh", content="7;/")
      link(rel='stylesheet', property='stylesheet', type='text/css', href='css/style.css')
      link(rel='stylesheet', property='stylesheet', type='text/css', href='css/404.css')
   body
      .glitch(data-text="ХУЙ")
         | 404