doctype html
html
	include head/head

	body

		//- Content
		include components/header
		include components/main
		include components/footer

		//- Scripts
		script(type='text/javascript', src='/js/script.js')