@font-face {
    font-family: "icon-font";
    src: url('../fonts/icon-font.woff2') format('woff2'),
         url('../fonts/icon-font.woff') format('woff'),
         url('../fonts/icon-font.ttf') format('truetype'),
         url('../fonts/icon-font.svg#icon-font') format('svg');
}

i {
    &:before{
        display: inline-block;
        font: 14px/1 'icon-font';
        font-size: inherit;
        text-rendering: auto;
        vertical-align: middle;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;
        speak: none;
    }
}


.i-angle-down:before {
  content: "\E001";
}

.i-angle-up:before {
  content: "\E002";
}

.i-apple:before {
  content: "\E003";
}

.i-bright:before {
  content: "\E004";
}

.i-camera:before {
  content: "\E005";
}

.i-code-fork:before {
  content: "\E006";
}

.i-code:before {
  content: "\E007";
}

.i-css3:before {
  content: "\E008";
}

.i-design:before {
  content: "\E009";
}

.i-git:before {
  content: "\E00A";
}

.i-html5:before {
  content: "\E00B";
}

.i-linux:before {
  content: "\E00C";
}

.i-map:before {
  content: "\E00D";
}

.i-mobile:before {
  content: "\E00E";
}

.i-remove:before {
  content: "\E00F";
}

.i-seo:before {
  content: "\E010";
}

.i-terminal:before {
  content: "\E011";
}

.i-tool:before {
  content: "\E012";
}

.i-windows:before {
  content: "\E013";
}