@font-face
    font-family "icon-font"
    src: url('../fonts/icon-font.woff2') format('woff2'),
         url('../fonts/icon-font.woff') format('woff'),
         url('../fonts/icon-font.ttf') format('truetype'),
         url('../fonts/icon-font.svg#icon-font') format('svg')

i
    vertical-align middle
    &:before
        display inline-block
        font 14px/1 'icon-font'
        font-size inherit
        text-rendering auto
        vertical-align middle

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant normal
        text-transform none
        speak none


.i-cancel:before
  content "\E001"

.i-fb:before
  content "\E002"

.i-menu:before
  content "\E003"

.i-rss:before
  content "\E004"

.i-search:before
  content "\E005"

.i-twitter:before
  content "\E006"

.i-vk:before
  content "\E007"