@font-face
    font-family 'NS'
    src: local('Noto Sans'), local('NotoSans'),
            url('../fonts/ns.woff2') format('woff2'),
            url('../fonts/ns.woff') format('woff'),
            url('../fonts/ns.ttf') format('truetype')

@font-face
    font-family 'NS'
    font-style normal
    font-weight 700
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
            url('../fonts/ns-700.woff2') format('woff2'),
            url('../fonts/ns-700.woff') format('woff'),
            url('../fonts/ns-700.ttf') format('truetype')

@font-face
    font-family 'NS'
    font-style italic
    font-weight 400
    src: local('Noto Sans Italic'), local('NotoSans-Italic'),
            url('../fonts/ns-italic.woff2') format('woff2'),
            url('../fonts/ns-italic.woff') format('woff'),
            url('../fonts/ns-italic.ttf') format('truetype')