head
   meta(charset='utf-8')
   meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
   title Your Site
   meta(name='description', content='Your description')
   meta(name='keywords', content='Your keywords')
   meta(name='author', content='Your author')
   meta(name='theme-color', content='#F0F3F7')
   meta(property='og:image', content='/img/favicons/favicon.png')

   //- Favicons
   link(rel='shortcut icon', href='/img/favicons/favicon.ico', type='image/x-icon')
   link(rel='icon', sizes='192x192', href='/img/favicons/android-chrome-192x192.png')
   link(rel='apple-touch-icon', href='/img/favicons/apple-touch-icon.png')
   link(rel='apple-touch-icon', sizes='57x57', href='/img/favicons/apple-touch-icon-57x57.png')
   link(rel='apple-touch-icon', sizes='114x114', href='/img/favicons/apple-touch-icon-114x114.png')
   link(rel='apple-touch-icon', sizes='72x72', href='/img/favicons/apple-touch-icon-72x72.png')
   link(rel='apple-touch-icon', sizes='144x144', href='/img/favicons/apple-touch-icon-144x144.png')
   link(rel='mask-icon', href='/img/favicons/safari-pinned-tab.svg', color='#333')

   //- Styles
   link(rel='stylesheet', property='stylesheet', type='text/css', href='/css/style.css')

   //- Internet Explorer fix
   | <!--[if IE]><script src="/js/ie.js"></script><![endif]-->